In [1]:
import pandas as pd

In [4]:
# Save data from txt into list
f = open("PubMed_20k_RCT_numbers_replaced_with_at_sign/dev.txt", "r")

list_data = []
for x in f:
    list_data.append(f.readline().rstrip().split("\t"))

print(list_data[:5])

[['BACKGROUND', 'IgE sensitization to Aspergillus fumigatus and a positive sputum fungal culture result are common in patients with refractory asthma .'], ['OBJECTIVE', 'We sought to determine whether a @-month course of voriconazole improved asthma-related outcomes in patients with asthma who are IgE sensitized to A fumigatus .'], ['METHODS', 'Primary outcomes were improvement in quality of life at the end of the treatment period and a reduction in the number of severe exacerbations over the @ months of the study .'], ['RESULTS', 'Fifty-nine patients started treatment ( @ receiving voriconazole and @ receiving placebo ) and were included in an intention-to-treat analysis .'], ['RESULTS', 'Between the voriconazole and placebo groups , there were no significant differences in the number of severe exacerbations ( @ vs @ per patient per year , respectively ; mean difference , @ ; @ % CI , @-@ @ ) , quality of life ( change in Asthma Quality of Life Questionnaire score , @ vs @ ; mean difference between groups , @ ; @ % CI , -@ to -@ ) , or any of our secondary outcome measures .']]

In [6]:
# Load list into dataframe
column_names = ['label', "sentence"]
df = pd.DataFrame(list_data, columns= column_names)
df.head(20)

          label                                           sentence
0    BACKGROUND  IgE sensitization to Aspergillus fumigatus and...
1     OBJECTIVE  We sought to determine whether a @-month cours...
2       METHODS  Primary outcomes were improvement in quality o...
3       RESULTS  Fifty-nine patients started treatment ( @ rece...
4       RESULTS  Between the voriconazole and placebo groups , ...
5                                                             None
6    BACKGROUND  Opioid antagonists ( e.g. , naltrexone ) and p...
7    BACKGROUND  Combining naltrexone and alprazolam might safe...
8       METHODS  Eight nontreatment-seeking , stimulant-using i...
9       RESULTS  Oral d-amphetamine produced prototypical physi...
10      RESULTS  Naltrexone and alprazolam each significantly a...
11  CONCLUSIONS  The present results support the continued eval...
12  ###24494594                                               None
13   BACKGROUND  Recently , learning theorists have focused on ...
14    OBJECTIVE  We tested the impact of conceptual instruction...
15      METHODS  We worked with @ second - and third-grade chil...
16      RESULTS  Providing conceptual instruction first resulte...
17  CONCLUSIONS  Providing conceptual instruction prior to prob...
18                                                            None
19   BACKGROUND  Patient adherence to appointments is key to im...

In [13]:
# Count all null values
df.isna().sum()

label          0
sentence    2500
dtype: int64

In [17]:
# Drop any null values
df = df.dropna()
df.isna().sum()

label       0
sentence    0
dtype: int64

In [26]:
df.groupby('label').count()

             sentence
label
BACKGROUND       1719
CONCLUSIONS      2306
METHODS          4982
OBJECTIVE        1177
RESULTS          4922